<main class="mainLogin">

  <div {{#if signup}} class="wrapper active" {{else}} class="wrapper" {{/if}} id="wrapper">


    <div class="form-container">

      <div class="slide-controls">

        <label for="login" id="slideLogin" class="slide login">Login</label>

        <label for="signup" id="slideSignup" class="slide signup">Signup</label>

        <div class="slider-tab"></div>

      </div>

      <div class="form-inner">

        <form id="formLogin" action="/api/session/login" method="post" class="login">

          <div class="field">

            <input type="text" name="email" placeholder="Email Address" value={{email}}>

          </div>

          <div class="field">

            <input id="passwordLogin" type="password" name="password" placeholder="Password" />

            <span class="eyeBtn" id="eyeBtn"></span>

          </div>

          <div class="pass-link">

            <a href="http://localhost:8080/mail">Forgot password?</a>

          </div>

          <div class="field btn">

            <div class="btn-layer"></div>

            <input type="submit" value="login" />

          </div>
          
          <div> <a href="http://localhost:8080/session/github" class="btn btn-secondary"><i
                class="bi bi-github me-1"></i>Login with Github </a>
          </div>

          <label for="login" class="messageError">{{messageLogin}}</label>

          <label for="newUser" class="messageNewUser">{{messageNewUser}}</label>

          <div class="signup-link">

            Not a member? <a href="/register">Signup now</a>

          </div>

        </form>



        <script type="module" src="js/login.js"></script>