<div class="mx-5">
  <h2 class="my-3">Agregar un nuevo producto</h2>
  {{> form }}
  <h2 class="mt-4">Listado de Productos en tiempo Real</h2>
  {{> listProductsRealTime}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"
  integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="js/main.js"></script>