<div class="container">
  <div class="row justify-content-center min-vh-100 mt-5">
    <div class="col-md-6">
      <form onsubmit="return validatePasswords()">
        <h1 class="text-center mb-4">Restablecer contrase単a</h1>
        <div class="form-group">
          <label for="password">Nueva contrase単a:</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmar contrase単a:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
          <small id="passwordMismatch" class="text-danger d-none">Las contrase単as no coinciden.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">Restablecer</button>
      </form>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script type="module" src="js/comparePass.js"></script>